<h3>Sign In</h3>

<%= form_tag "/sessions" do %>

  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <p>
    <%= link_to "Forgot Password", new_password_reset_path %>
  </p>

	<%= submit_tag "Sign In" %>

<% end %>
