<p>You have <%= @albums.count %> albums in your collection</p>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>Rating</th>
    <th>Number of Ratings</th>
    <th></th>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td><%= image_tag album.album_cover_url, :width => 128, :height => 128 %></td>
      <td><%= link_to album.title, album_url(album.id) %></td>
      <td><%= album.artist.name %></td>
      <td><%= album.year %></td>
      <td>
        <% album.rating.times do %>
          &#9733;
        <% end %>
        <% (5 - album.rating).times do %>
          &#9734;
        <% end %>
      </td>
      <td>(<%= album.rating_count %>)</td>
      
    </tr>
  <% end %>

</table>
