<% if session["user_id"].present? %>
  <p>
  <% if Collection.where("user_id = #{session["user_id"]}").find_by("album_id = #{@album.id}") == nil %>
    <%= link_to "Add this album to your collection", "/collections/#{@album.id}", :method => 'get' %><br>
  <% else %>
    This album is in your collection<br>
    <%= link_to "Remove this album from your collection", "/collections/#{@album.id}", :method => 'delete' %><br>
  <% end %>
  <%= link_to "Edit album information", "/albums/#{@album.id}/edit" %>
  </p>
<% end %>


<table class="table table-striped">
	<tr>
		<th></th>
		<th>Title</th>
		<th>Artist</th>
		<th>Year</th>
		<th>Rating (Number of Ratings)</th>
		<th></th>
	</tr>

	<tr>
		<td><%= image_tag @album.album_cover_url, :width => 128, :height => 128 %></td>
		<td><%= @album.title %></td>
		<td><%= @album.artist.name %></td>
		<td><%= @album.year %></td>
		<td>
		<% @album.rating.times do %>
		  &#9733;
		<% end %>
		<% (5 - @album.rating).times do %>
		  &#9734;
		<% end %>(<%= @album.rating_count %>)
		</td>
	</tr>
</table>

<p>
<h3>Tracks</h3>
<% tracks = Track.where("album_id = #{@album.id}") %>
<% if tracks.empty? %>
  This album has no tracks listed yet
<% else %>  
  <ol>
  <% tracks.each do |track| %>
    <li>
      <%= track.name %> 
      <% if session["user_id"].present? %>
        <%= link_to "Edit", "/tracks/#{track.id}/edit" %> /
        <%= link_to "Delete", "/tracks/#{track.id}", :method => 'delete' %>
      <% end %>
    </li>
  <% end %>
  </ol>
<% end %>
<% if session["user_id"].present? %>
  <%= link_to "Add a Track", "/tracks/new/#{@album.id}", :method => 'get' %>
<% end %>
</p>


<p>
<h4>Album Tags</h4>
<% if session["user_id"].present? %>
  <%= link_to "Add a Tag", "/descriptions/new/#{@album.id}", :method => 'get' %>
<% end %>
<table>
<% tags = Description.where("album_id = #{@album.id}").order("tag_score desc") %>
<% tags.each do |tag| %>
  <td style='padding:15px'>
  <a href="/descriptions/increase/<%= tag.id %>">&#9651</a><br>
  <span><%= tag.tag_score %> <%= (Tag.find_by("id = #{tag.tag_id}")).name %></span><br>
  <a href="/descriptions/decrease/<%= tag.id %>">&#9661</a>
  </td>
<% end %>
</table>
</p>


<p>
<h4>Reviews</h4>
<% if session["user_id"].present? %>
	<h5>Write a Review</h5>
	<%= form_tag "/reviews" do %>
	  <select name="rating">
	    <option>5 star</option>
	    <option>4 star</option>
	    <option>3 star</option>
	    <option>2 star</option>
	    <option>1 star</option>
	  </select>
	  <input name="desc" size="50">
	  <input type="hidden" name="album_id" value="<%= @album.id %>">
	  <button>Submit</button>
	<% end %>
<% end %>
<br>

<table>
<% @reviews.each do |review| %>
	<tr>
	<td>
	<a href="/reviews/increase/<%= review.id %>">&#9651</a><br>
	<span><%= review.score %></span> <br>
	<a href="/reviews/decrease/<%= review.id %>">&#9661</a>
	</td>
	<td>
	<%
	$i = 1
	$num = 5
	$stars = review.rating
	while $i <= $num do
		if $stars > 0 %>
			&#9733 <%
			$stars -= 1
		else %>
			&#9734 <%
		end
		$i += 1
	end %>
	<%= (User.find_by("id = #{review.user_id}")).username %> <br>
	<%= review.desc %>
	<br>
	</td>
	</tr>
<% end %>
</table>
</p><p></p>
